page-home {
}

ion-title {
    .toolbar-title-md {
     font-size: 4rem;
     margin: 0 auto;
     color: #061282;
     font-family: "Bungee Shade";
    }
}   

.mainTitle {
    margin: 0 auto;
}

#subheader {
    font-size: 1rem;
}

p { 
    color:  #488aff;
}